<!doctype html>
<html lang="en" style="font-size: 12px;">
  <head>
    <title>Analysis</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <!-- Bootstrap CSS v5.2.0-beta1 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"  integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="shortcut icon" href="/static/favicon.ico">

  </head>
  <body>
      <!-- <script>$font-size-base: 1rem;</script> -->
      
      <nav class="navbar navbar-light bg-light fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">♞ Analysis</a>
          <form action="/" class="d-flex" method="POST">
            <input name="username" class="form-control me-2" style="width:120px"type="search" placeholder="chess.com User Name" aria-label="Search" value="{{user}}">
            <button type="submit"  name="action" value='games' class="btn btn-info text-nowrap me-2">Profile</button>
            <div class="btn-group">
              <button type="submit"  name="action" value='last_game' class="btn btn-primary text-nowrap">Last Game</button>
              {% if is_admin %}
              <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="visually-hidden">Toggle Dropdown</span>
              </button>
              <div class="dropdown-menu">
                <a href="/viewlog" class="btn dropdown-item btn-primary">View Log</a>
                <a href="/gitupdate" class="btn dropdown-item btn-primary">Git Update</a>
              </div>
              {% endif %}
            </div>
          </form>
          <div class="container" style="width:500px;">
            <div class="row">
            <canvas id="score-chart">        
                <script>
                    const labels = [
                    {% for rating in ratings %}
                    '{{rating['graph_date']}}',
                    {% endfor %}
                    ];
                    
                    const data = {
                        labels: labels,
                        datasets: [{
                        label: '{{graph_title}}',
                        backgroundColor: 'rgb(255, 255, 255)',
                        borderColor: 'rgb(255, 99, 132)',
                        fill: false,
                        data: [
                        {% for rating in ratings %}
                        {{rating['graph_rating']}},
                        {% endfor %}
                        ],
                        }]
                    };
                    
                    const config = {
                        type: 'line',
                        data: data,
                        options: {}
                    };
    
                    const score_chart = new Chart(document.getElementById('score-chart'),
                        config
                    );
                </script>
            </canvas>
            </div>
        </div>
      </nav>

      <!-- <div id="loading1" style="padding-top: 50px; background-color: black;" class="container-fluid text-center">
        <img src="/static/loading.gif" onclick="loading(0);"> 
      </div>
      <div id="loading2" style="padding-top: 50px; background-color: black;" class="container-fluid text-center">
        <img src="/static/loading-knights.gif" onclick="loading(0);"> 
      </div> -->
      <div id="content" style="padding-top: 300px">
  
        <h4>Games for {{title_month}}</h4>
        <table class="table align-middle">
            <thead>
                <tr>
                    <th>Players</th>
                    <th>Moves</th>
                    <th>Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
              {% for game in games %}
                <tr class="{{game['color']}}">
                    <td scope="row">{{game['players']|safe}}</td>
                    <!-- <td>{{game['result']}}</td> -->
                    <td>{{game['moves']}}</td>
                    <td>{{game['date']|safe}}</td>
                    <td><a name="" id="" class="btn btn-primary me-1" href="/game/{{user}}/{{game['game_id']}}/view" role="button" onclick="loading(1);">View</a>
                      <!-- <a name="" id="" class="btn btn-primary me-1" href="/game/{{user}}/{{game['game_id']}}/analyse" role="button" onclick="loading(2);">Analyse</a> -->
                    </td></tr>
              {% endfor %}

          </tbody>
        </table>

        
        <h5>Months Archive</h5>
        
        <table class="table align-middle">
            <thead>
                <tr>
                    <th>Month</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
              {% for month in months %}
                <tr>
                  <td scope="row">{{month['month']}}</td>
                  <td><a name="" id="" class="btn btn-primary me-1 btn-info" href="/profile/{{user}}/{{month['month_index']}}" role="button">View</a></td>
                </tr>
              {% endfor %}
          </tbody>
        </table>
      </div>


      <!-- <script>
        function loading(no){
          if (no == 0) {
            $("#loading1").hide();
            $("#loading2").hide();
            $("#content").show();       
          }
          else{
            $("#loading"+no).show();
            $("#content").hide();       
          }
        }


      window.addEventListener("pageshow", () => {
         loading(0);
      });
  </script> -->

        
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>


  </body>
</html>
