<html>
 
    
  <head>
    <title>Chess Blunder Analysis</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
   
    </head>
  <body>
   
    <div>
      <h1>Chess Blunder Analysis</h1>
      <form method="POST">
        <textarea name="pgn" rows="6" cols="60">{{pgn}}</textarea><br>
        <input type="checkbox" name="detailed" {{detailed_ret}}>Detailed<br>
        <input type="text" name="think_time" value="{{think_time}}"><br>
        <input type="submit">
      </form>
    </div>  
    <div>
      Render Time: {{time}} secs
    </div>

    <div>
      <canvas id="myChart"></canvas>
    </div>

    <script>
      const labels = [
      {% for move in moves %}
        '{{move['move_no_graph']}}',
        {% endfor %}
      ];
    
      const data = {
        labels: labels,
        datasets: [
        {
          label: 'Score',
          backgroundColor: 'rgb(255, 99, 132)',
          borderColor: 'rgb(255, 99, 132)',
          data: [ {% for move in moves %}{{move['score_graph']}},{% endfor %} ],
        },
        {
          label: 'Mid Line',
          borderColor: "#3e95cd",
          data: [ {% for move in moves %}0,{% endfor %} ],
        }
      ]
      };
    
      const config = {
        type: 'line',
        data: data,
        options: {}
      };
    </script>

    <script>
      const myChart = new Chart(
        document.getElementById('myChart'),
        config
      );

// const ctx = document.getElementById('myChart');
// const ctx = document.getElementById('myChart').getContext('2d');
// const ctx = $('#myChart');
// const ctx = 'myChart';
    </script> 




   
    <div>
      <table border=1 style="border-collapse:collapse">
        <thead>
          <th>no</th>
          <th>move</th>
          <th>score</th>
          <th>diff</th>
          <th></th>
          <th>comment<br>white</th>
          <th>comment<br>black</th>
          <th></th>
          <th>top moves</th>
        </thead>
        
        {% for move in moves %}
        <tr>
          <td>{{move['move_no']}}</td>
          <td>{{move['move']|safe}}</td>
          <td>{{move['score']}}</td>
          <td>({{move['score_diff']}})</td>
          <td></td>
          {%if move['is_white'] == False%}<td></td>{% endif %}
          <td>{%if move['top_moves']|length > 0 %}<a id="board-{{move['move_no_full']}}" href="javascript:(void)" title=" ">{{move['comment']}}</a>{% else %}{{move['comment']}}{% endif %}</td>
          {%if move['is_white'] == True%}<td></td>{% endif %}
          {% for top_move in move['top_moves'] %}
          <td></td>
          <td>{{top_move['move']}}</td>
          <td>{{top_move['score']}}</td>
          <td>({{top_move['score_diff']}})</td>
          {% endfor %}
        </tr>
        
        {% endfor %}

      </table><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

  



    </div>

    <script>
      {% for move in moves %}
        $("#board-{{move['move_no_full']}}").tooltip({ content: '<img src="static/board-{{move['move_no_full']}}.svg" width=300/>' });
      {% endfor %}
    </script>
    

  </body>
</html>
